<header>
  <nav class="navbar" role='navigation'>
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="buttons">
          <div class="navbar-item">
            <%= link_to 'Home', root_path, class: 'button is-warning is-light' %>
          </div>
          <% if user_signed_in? %>
            <div class="navbar-item">
              <%= link_to 'Register Activity', new_calories_register_path, class: 'button is-warning is-light' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="navbar-end">
        <% if user_signed_in? %>
          <div class="navbar-item">
            <%= link_to 'Log Out', destroy_user_session_path, method: :delete , class: 'button is-dark' %>
          </div>
        <% else %>
          <div class="buttons">
            <div class="navbar-item">
              <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-dark' %>
            </div>
            <div class="navbar-item">
              <%= link_to 'Log In', new_user_session_path, class: 'button is-dark' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </header>
</nav>
